.card {
    box-shadow: 2px 1px 23px -8px var(--shadow-color);
    border: 1px solid var(--shadow-color);
    height: 350px;
    margin: 30px 5px;
    position: relative;
    width: 90%;
    &__upper-session {
        align-items: flex-start;
        border-bottom: 1px solid var(--shadow-color);
        display: flex;
        justify-content: center;
        margin: 10px 0;
        padding: 5px 0;
    }
    &__image {
        height: 230px;
        width: 200px;
    }
    &__bottom-section {
        padding: 0 10px;
    }
    &__details-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size: 16px;
        margin: 10px 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.card__seal-image {
    cursor: pointer;
    display: block;
    margin: 10px;
}

.tooltip__detail {
    color: var(--yellow-color)
}

.card__option {
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    cursor: pointer;
    transition: ease-in-out 0.5s;
    margin-top: auto;
    position: absolute;
    padding: 10px 0;
    width: 100%;
}


.details--burble {
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 12px;
    padding: 2px 5px;
}

.details__brand {
    color: var(--primary-color);
    font-size: 12px;
}

.details--green {
    color: var(--primary-color);
}

.details--small {
    font-size: 10px;
}

@media(min-width: 900px) {
    .card__option {
        opacity: 0;
    }
    
    .card:hover .card__option {
        opacity: 1;
    } 
}