.header {
    align-items: center;
    background-color: var(--primary-color);
    display: grid;
    grid-template-areas: "header__brand header_brand" "header-subcontainer header__responsive-icon";
    height: 80px;
    justify-content: space-between;
    padding: 5px 15px;
    margin-bottom: 120px ;
      &__brand {
        width: 150px;
      }
      &__responsive-icon,
      &__shoppingCart {
        color: var(--white-color);
        margin: auto;
      }
      &__profile {
        color: var(--white-color);
        font-size: 20px;
      }
      &__profile-image {
        width: 50px;
      }
  }

  .header-subcontainer {
    align-items: center;
    background-color: var(--primary-color);
    grid-area: header-subcontainer;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: none;
    grid-row-gap: 20px;
    justify-content: center;
    padding: 10px;
    position: absolute;
    right: 0;
    transition: ease-in-out 0.5s;
    top: 50px;
    width: 100%;
  }
  
  .headerAnimation-enter {
    opacity: 0;
    transform: scale(0.5);
  }
  .headerAnimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
  }
  .headerAnimation-exit {
    opacity: 1;
  }
  .headerAnimation-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
  }

  @media(min-width: 700px) {
    .header {
      grid-template-areas: "header__brand header-subcontainer";
      padding: 5px 15px;
      justify-content: initial;
        &__brand {
          width: 200px;
        }
        &__responsive-icon {
          display: none;
        }
    }

    .header-subcontainer {
      justify-content: initial;
      grid-row-gap: 0;
      grid-template-rows: none;
      grid-template-columns: repeat(3, auto);
      position: static;
    }
  }


