.item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    &__image {
        width: 50px;
    }
    &__title {
        font-size: 10px;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        overflow: hidden;
    }
    &__small {
        font-size: 10px;
        font-weight: 500;
    }
    &__color {
        color: var(--primary-color);
    }
    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--shadow-color);
    }
    &__button-burble {
        border-radius: 50%;
        border: 1px solid var(--primary-color);
        background-color: transparent;
        cursor: pointer;
        color: var(--primary-color);
        padding: 2px;
        margin: 0 5px;
    }
}