.section {
    margin: 30px auto;
    width: 90%;

    &__title-container {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        a {
            color: var(--primary-color);
            font-weight: 700;
            margin-left: 20px;            
        }
        a:hover {
            text-decoration: underline;
        }
    }
}