.input {
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  width: 100%;
  &-icon {
    position: absolute;
    right: 5px;
    font-size: 12px;
  }
  &-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }
}

.button--green {
  background-color: var(--primary-color);
  border: none;
  color: var(--white-color);
  padding: 5px;
  margin: 10px;
  width: 80px;
}

.button--green:hover {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.button--red {
  background-color: var(--red-color);
  border: none;
  color: var(--white-color);
  padding: 5px;
  margin: 10px;
  width: 80px;
}

.button--red:hover {
  background-color: var(--white-color);
  border: 1px solid var(--red-color);
  color: var(--red-color);
}


.responsive-image {
  max-width: 100%;
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

@media(min-width:1200px) {
  .input {
    width: 700px;
    &-icon {
      right: 60px;
    }
  }
}