:root {
    --primary-color: #24c36c;
    --secondary-color: #4ab57b;
    --yellow-color: #fdca40;
    --blue-color: #007580;
    --white-color: #fff;
    --text-color: #5b5b5b;
    --shadow-color: rgba(91,91,91,0.2);
  }